{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>


	<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <title>
		SignUp to our site!
	</title>
	<style type="text/css">
        .autocomplete {
          /*the container must be positioned relative:*/
          position: relative;
          display: inline-block;
        }
        .error{
		    color: red;
		    margin-left: 10px;
		    margin-bottom: 10px;
		}

        .autocomplete-items {
          position: absolute;
          border: 1px solid #d4d4d4;
          border-bottom: none;
          border-top: none;
          z-index: 99;
          /*position the autocomplete items to be the same width as the container:*/
          top: 100%;
          left: 0;
          right: 0;
        }
        .autocomplete-items div {
          padding: 10px;
          cursor: pointer;
          background-color: #fff;
          border-bottom: 1px solid #d4d4d4;
        }
        .autocomplete-items div:hover {
          /*when hovering an item:*/
          background-color: #e9e9e9;
        }
		body{
			background-image: url("{% static 'registration/images/background.jpg' %}");
			width: 100%;
			height: 80%;
		}

		.page-footer{
			background-color:black;
		}
		.card{
		   z-index: 10;
		   margin: 100px;
            overflow: visible;
		}
		h1{
			color: white;
			z-index: 10;
			padding: 15px;
		}
	</style>
</head>
<body>
    <center><h1>Company's Name</h1></center>
	<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{% static 'registration/images/background.jpg' %}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Register with us!<i class="material-icons right">more_vert</i></span>
      <p><a href="login.html">Already a Member?Sign in Here!</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Register with us!<i class="material-icons right">close</i></span>
      <div class="row">
	    <form class="col s12" method="post" id="post_form" name="registration" onblur="return myFunction()">
            {% csrf_token %}
	      <div class="row">
	        <div class="input-field col s6">
	          <input id="user_name" type="text" class="validate" onblur="checkAvailability()" name="username">
	          <label>Username</label>
	          <span id="user_name_err" class="error"></span>
	          <span id="user-availability-status" style="color: red;"></span>
                <span id="user-availabilty-status1" style="color: green;"></span>
	        </div>
	        <p><img src="{% static 'registration/images/LoaderIcon.gif' %}" id="loaderIcon" style="display:none" /></p>
	      </div>
	      <div class="row">
	        <div class="input-field col s4">
	          <input id="first_name" type="text" name="firstname" class="validate" autocomplete="off" >
	          <label>First Name</label>
	          <span id="first_name_err" class="error"></span>
	        </div>
              <div class="input-field col s4">
	          <input id="middle_name" type="text" name="firstname" class="validate" autocomplete="off" >
	          <label>Middle Name</label>
	          <span id="middle_name_err" class="error"></span>
	        </div>
	        <div class="input-field col s4">
	          <input id="last_name" type="text" class="validate" name="lastname" autocomplete="off">
	          <label for="last_name">Last Name</label>
	          <span id="last_name_err" class="error"></span>
	        </div>
	      </div>
	      <div class="row" style="margin-left: 1%">
	      	<p style="color: #9e9e9e">Gender</p>
	      		<div class="col s12">
	      			<div class="">

					    <p>
					      <label>
					        <input name="group1" id="male" type="radio" style="opacity: 1; padding: 4%" />
					        <span style="margin-left: 2%; font-size: 20sp;">Male</span>
					      </label>
					    </p>
					    <p>
					      <label>
					        <input name="group1" id="female" type="radio"  style="opacity: 1; padding: 4%" />
					        <span style="margin-left: 2%">Female</span>
					      </label>
					    </p>
					    <p>
					      <label>
					        <input name="group1" id="others" type="radio"  style="opacity: 1; padding: 4%" />
					        <span style="margin-left: 2%">Other</span>
					      </label>
					    </p>
					    </div>
                        <span id="gender_err" class="error"></span>
					</div>
				</div>

	    <div class="row">
	        <div class="input-field col s12">
	          <input id="email" type="email" class="validate" name="email" onblur="checkEmail()" autocomplete="off">
	          <label for="email">Email</label>
	          <span id="email_err" class="error"></span>
	        </div>
	        <span id="email-available" style="color: red;"></span>
	        <span id="email-available" style="color: green;"></span>
	        <p><img src="{% static 'registration/images/LoaderIcon.gif' %}" id="loaderIcon" style="display:none" /></p>
	    </div>
	  	<div class="row">
	  		<div class="input-field col s12">
	          <input id="pass" type="password" class="validate" name="pass">
	          <label>Password</label>
	          <span id="password_err" class="error"></span>
	          <span id='message1'></span>
	        </div>
	  	</div>

	  	<div class="row">
	  		<div class="input-field col s12">
	          <input id="cpass" type="password" name="cpass" class="validate" >
	          <label>Confirm Password</label>
	          <span id='message'></span>
	        </div>
	    </div>
	  	<div class="row">
	        <div class="input-field col s12">
	          <textarea id="address" class="materialize-textarea" name="address" autocomplete="off"></textarea>
	          <label>Address</label>
	          <span id="address_err" class="error"></span>
	        </div>
	    </div>
        <div class="row">
	    	<div class="input-field col s6">
	          <div class="input-field">
                  <select required>
                    <option value="" disabled selected>Designation</option>
                    <option value="Lawyer">Lawyer</option>
                    <option value="Doctor">Dooctor</option>
                  </select>
                  <span id="designation_err" class="error"></span>
              </div>
	        </div>
	        <div class="input-field col s6">
                <div class="input-field">
                  <input id="reference" type="text" name="zip" class="validate" autocomplete="off">
                  <label>Reference</label>
                  <span id="reference_err" class="error"></span>
                </div>
	        </div>
	    </div>
	    <div class="row">
	    	<div class="input-field col s6">
	          <input id="icon_telephone" type="tel" class="validate" name="phone" autocomplete="off">
	          <label>Phone</label>
	          <span id="phone_err" class="error"></span>
	        </div>
	        <div class="input-field col s6">
	          <input id="pin" type="text" name="zip" class="validate" autocomplete="off">
	          <label>PinCode</label>
	          <span id="pin_err" class="error"></span>
	        </div>
	    </div>
	  	<div class="row">
	        <div class="input-field col s6 autocomplete">
	          <input id="city" type="text" name="city" class="validate" autocomplete="off">
	          <label>City</label>
	          <span id="city_err" class="error"></span>
	        </div>
	        <div class="input-field col s6 autocomplete">
	          <input id="country" type="text" name="country" class="validate" autocomplete="off">
	          <label>Country</label>
	          <span id="country_err" class="error"></span>
	        </div>
	    </div>
	    <br><br><br>
	    <div class="row">
            <center><button class="btn waves-effect waves-light" id="formValidate" type="submit" name="submit">Submit</button></center>
		</div>
	  </form>
	</div>
</div>
</div>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
	<script>
        $( document ).ready(function() {
              $('select').not('.disabled').material_select();
            });
        var city=[],countries=[];
        $.get('{% url "registration:city-count" %}',function(data){
            var citycount= JSON.parse(data);
            countries = citycount['country'];
            city = citycount['city'];
            autocomplete(document.getElementById("country"), countries);
            autocomplete(document.getElementById("city"),city);
        });
        function myFunction(){
            var user_name = document.registration.user_name.value;
            var first_name = document.registration.first_name.value;
            var middle_name = document.registration.middle_name.value;
            var last_name = document.registration.last_name.value;
            var email = document.registration.email.value;
            var password = document.registration.pass.value;
            var address = document.registration.address.value;
            var designation = document.registration.designation.value;
            var reference = document.registration.reference.value;
            var city = document.registration.city.value;
            var pin =document.registration.pin.value;
            var country = document.registration.country.value;
            var phone = document.registration.icon_telephone.value;
            var error = false;
            if(user_name == ""){
                error = true;
                document.getElementById('user_name_err').innerHTML = "Username must not be empty";
            }
            else if(user_name.length < 5){
                error = true;
                document.getElementById('user_name_err').innerHTML = "Username must be greater than 5 characters";
            }
            if(first_name == ""){
                error = true;
                document.getElementById('first_name_err').innerHTML = "First Name must not be empty";
            }
            if(middle_name == ""){
                error = true;
                document.getElementById('middle_name_err').innerHTML = "Middle Name must not be empty";
            }
            if(last_name == ""){
                error = true;
                document.getElementById('last_name_err').innerHTML = "Last Name must not be empty";
            }
            if(password == ""){
                error = true;
                document.getElementById('password_err').innerHTML = "Password must not be empty\n";
            }
            else if(password.length < 8){
                error = true;
                document.getElementById('password_err').innerHTML = "Password must be greater than 8 characters\n";
            }
            else if(password.length > 20){
                error = true;
                document.getElementById('password_err').innerHTML = "Password must not be greater than 20 characters\n";
            }
            if (password.search(/[a-z]/) < 0) {
                error = true;
                document.getElementById('password_err').innerHTML += "<br/>Password must contain atleast one small character";
            }
            if (password.search(/[0-9]/) < 0) {
                error = true;
                document.getElementById('password_err').innerHTML += "<br/>Password must contain atleast one digit\n";
            }
            if(email == ""){
                error = true;
                document.getElementById('email_err').innerHTML = "Email must not be empty";
            }
            else if(!(validateEmail(email))){
                error=true;
                document.getElementById('email_err').innerHTML = "Email is not valid.Please enter a valid email id";
            }
            if(phone == ""){
                error = true;
                document.getElementById('phone_err').innerHTML = "Please enter a phone number";
            }
            if(city == ""){
                error = true;
                document.getElementById('city_err').innerHTML = "City must not be empty";
            }
            if(country == ""){
                error = true;
                document.getElementById('country_err').innerHTML = "Country must not be empty";
            }
            if(designation == ""){
                error = true;
                document.getElementById('designation_err').innerHTML = "Designation must not be empty";
            }
            if(pin == ""){
                error = true;
                document.getElementById('pin_err').innerHTML = "PinCode must not be empty";
            }
            if(address == ""){
                error = true;
                document.getElementById('address_err').innerHTML = "Username must not be empty";
            }
            if(reference == ""){
                error = true;
                document.getElementById('reference_err').innerHTML = "Reference must not be empty";
            }
            if(document.getElementById('male').checked == false && document.getElementById('female').checked && document.getElementById('others').checked){
                error = true;
                document.getElementById('gender_err').innerHTML = "Please select a gender"
            }
            if(error)
                return false;
            else
                return true;
        }
        $('#textarea1').val('New Text');
  		$('#textarea1').trigger('autoresize');
        $('.datepicker').pickadate({
	    selectMonths: true, // Creates a dropdown to control month
	    selectYears: 200, // Creates a dropdown of 15 years to control year,
	    max: new Date().setYear(new Date().getFullYear()),
	    //max: new Date( date.getFullYear(), date.getMonth() + 1, date.getDate() )
	    today: 'Today',
	    clear: 'Clear',
	    close: 'Ok',
	    closeOnSelect: false // Close upon selecting a date,
	  });
        $('#pass, #cpass').on('keyup', function () {
		  if ($('#pass').val() == $('#cpass').val()) {
		    $('#message').html('Password and Confirm Password are Matching').css('color', 'green');
		  } else
		    $('#message').html('Password and Confirm Password are Not Matching').css('color', 'red');
		});
		function checkAvailability() {
		$("#loaderIcon").show();
		jQuery.ajax({
		url: "{% url 'registration:check-username' %}",
		data:{'username': $("#user_name").val()},
		type: "POST",
		success:function(data){
		    console.log(data);
		    if (data == "0"){
			$("#user-availability-status").html("<span class='status-not-available' style='color: red;'>Username Not Available.</span>");}
			else{
		        $("#user-availability-status").html("<span class='status-available1' style='color: green;'>Username Available.</span>");
            }

			$("#loaderIcon").hide();
		},
		error:function (){}
		});
		}
		function checkEmail() {
		$("#loaderIcon").show();
		jQuery.ajax({
		url: "{%  url 'registration:check-email' %}",
		data:{'email': $("#email").val()},
		type: "POST",
		success:function(data){
			if (data == "0"){
			$("#user-availability-status").html("<span class='email-not-available' style='color: red;'>Username Not Available.</span>");}
			else{
		        $("#user-availability-status").html("<span class='email-available1' style='color: green;'>Username Available.</span>");
            }
			$("#loaderIcon").hide();
		},
		error:function (){}
		});
		}

        function autocomplete(inp, arr) {
            console.log(arr);
          /*the autocomplete function takes two arguments,
          the text field element and an array of possible autocompleted values:*/
          var currentFocus;
          /*execute a function when someone writes in the text field:*/
          inp.addEventListener("input", function(e) {
              var a, b, i, val = this.value;
              /*close any already open lists of autocompleted values*/
              closeAllLists();
              if (!val) { return false;}
              currentFocus = -1;
              /*create a DIV element that will contain the items (values):*/
              a = document.createElement("DIV");
              a.setAttribute("id", this.id + "autocomplete-list");
              a.setAttribute("class", "autocomplete-items");
              /*append the DIV element as a child of the autocomplete container:*/
              this.parentNode.appendChild(a);
              /*for each item in the array...*/
              for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                  /*create a DIV element for each matching element:*/
                  b = document.createElement("DIV");
                  /*make the matching letters bold:*/
                  b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                  b.innerHTML += arr[i].substr(val.length);
                  /*insert a input field that will hold the current array item's value:*/
                  b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                  /*execute a function when someone clicks on the item value (DIV element):*/
                      b.addEventListener("click", function(e) {
                      /*insert the value for the autocomplete text field:*/
                      inp.value = this.getElementsByTagName("input")[0].value;
                      /*close the list of autocompleted values,
                      (or any other open lists of autocompleted values:*/
                      closeAllLists();
                  });
                  a.appendChild(b);
                }
              }
          });
          /*execute a function presses a key on the keyboard:*/
          inp.addEventListener("keydown", function(e) {
              var x = document.getElementById(this.id + "autocomplete-list");
              if (x) x = x.getElementsByTagName("div");
              if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                  /*and simulate a click on the "active" item:*/
                  if (x) x[currentFocus].click();
                }
              }
          });
      function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
    }
    $('#post_form').on('submit',function (event) {
                event.preventDefault();
                if(myFunction()==true)
                  create_post();
            });
            function create_post() {
                var data;
                data = {
                        'user': $('#user_name').val(),
                        'first_name': $('#first_name').val(),
                        'middle_name': $('#middle_name').val(),
                        'last_name': $('#last_name').val(),
                        'email': $('#email').val(),
                        'pass': $('#pass').val(),
                        'phone': $('#icon_telephone').val(),
                        'address': $('#address').val(),
                        'pincode': $('#pin').val(),
                        'city': $('#city').val(),
                        'country': $('#country').val(),
                        'designation': $('#designation').val,
                        'reference': $('#reference').val(),
                };
                data = {'data': JSON.stringify(data)};

                $.post('{%  url "registration:submit_post" %}',data,function ( data ){

                    console.log(data);
                });
            }

    function validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

	</script>
</body>
</html>