{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	

	<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <title>
		SignUp to our site!
	</title>
	<style type="text/css">
		body{
			background-image: url("{% static 'registration/images/background.jpg' %}");
			width: 100%;
			height: 80%;
		}

		.page-footer{
			background-color:black;
		}
		.card{
		   z-index: 10;
		   margin: 100px;
		}
		h1{
			color: white;
			z-index: 10;
			padding: 15px;
		}
	</style>
</head>
<body>
	<center><h1>Company's Name</h1></center>
	<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{% static 'registration/images/background.jpg' %}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Register with us!<i class="material-icons right">more_vert</i></span>
      <p><a href="login.html">Already a Member?Sign in Here!</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Register with us!<i class="material-icons right">close</i></span>
      <div class="row">
	    <form class="col s12" method="post" action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']); ?>">
	      <div class="row">
	        <div class="input-field col s6">
	          <input id="user_name" type="text" class="validate" onblur="checkAvailability()" minlength="5" name="username" required="true" autocomplete="on">
	          <label>Username</label>
	          <span id="user-availability-status" style="color: red;"></span>
	        <span id="user-availability-status1" style="color: green;"></span>
	        </div>
	        <p><img src="LoaderIcon.gif" id="loaderIcon" style="display:none" /></p>
	      </div>
	      <div class="row">
	        <div class="input-field col s6">
	          <input id="first_name" type="text" name="firstname"class="validate" required="true" autocomplete="on">
	          <label>First Name</label>
	        </div>
	        <div class="input-field col s6">
	          <input id="last_name" type="text" class="validate" name="lastname" required="true" autocomplete="on">
	          <label for="last_name">Last Name</label>
	        </div>
	      </div>
	    <div class="row">
	        <div class="input-field col s12">
	          <input id="email" type="email" class="validate" name="email" onblur="checkEmail()" required="true" autocomplete="on">
	          <label for="email">Email</label>
	        </div>
	        <span id="email-available" style="color: red;"></span>
	        <span id="email-available" style="color: green;"></span>
	        <p><img src="LoaderIcon.gif" id="loaderIcon" style="display:none" /></p>
	    </div>
	  	<div class="row">
	  		<div class="input-field col s12">
	          <input id="pass" type="password" class="validate" maxlength="20" minlength="8" name="pass" required="true">
	          <label>Password</label>
	          <span id='message1'></span>
	        </div>
	  	</div>
	  	
	  	<div class="row">
	  		<div class="input-field col s12">
	          <input id="cpass" type="password" name="cpass" class="validate" minlength="8" maxlength="20" required="true">
	          <label>Confirm Password</label>
	          <span id='message'></span>
	        </div>
	    </div>
	    <div class="row" style="margin-left: 1%; ">
	    	<h6>Birthdate:</h6>
	    	<input type="text" class="datepicker" name="birthdate" required="true" autocomplete="on">
	    </div>
	  	<div class="row">
	        <div class="input-field col s12">
	          <textarea id="address" class="materialize-textarea" name="address" required="true" autocomplete="on"></textarea>
	          <label>Address</label>
	        </div>
	    </div>
	    <div class="row">
	    	<div class="input-field col s6">
	          <i class="material-icons prefix">phone</i>
	          <input id="icon_telephone" type="tel" class="validate" name="phone" required="true" autocomplete="on">
	          <label>Phone</label>
	        </div>
	        <div class="input-field col s6">
	          <input id="address" type="text" name="zip" class="validate" required="true" autocomplete="on">
	          <label>ZipCode</label>
	        </div>
	    </div>
	  	<div class="row">
	        <div class="input-field col s6">
	          <input id="address" type="text" name="city" class="validate" required="true" autocomplete="on">
	          <label>City</label>
	        </div>
	        <div class="input-field col s6">
	          <input id="address" type="text" name="state" class="validate" required="true" autocomplete="on">
	          <label>State</label>
	        </div>
	    </div>
	    <br><br><br>
	    <div class="row">
	  	  <center><button class="btn waves-effect waves-light" id="formValidate" type="submit" name="submit">Submit</button></center>
		</div>
	  </form>
	</div>
</div>
</div>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
	<script>
		$('#textarea1').val('New Text');
  		$('#textarea1').trigger('autoresize');
        $('.datepicker').pickadate({
	    selectMonths: true, // Creates a dropdown to control month
	    selectYears: 200, // Creates a dropdown of 15 years to control year,
	    max: new Date().setYear(new Date().getFullYear()),
	    //max: new Date( date.getFullYear(), date.getMonth() + 1, date.getDate() )
	    today: 'Today',
	    clear: 'Clear',
	    close: 'Ok',
	    closeOnSelect: false // Close upon selecting a date,
	  });
        $('#pass, #cpass').on('keyup', function () {
		  if ($('#pass').val() == $('#cpass').val()) {
		    $('#message').html('Password and Confirm Password are Matching').css('color', 'green');
		  } else 
		    $('#message').html('Password and Confirm Password are Not Matching').css('color', 'red');
		});
		function checkAvailability() {
		$("#loaderIcon").show();
		jQuery.ajax({
		url: "check_availability.php",
		data:'username='+$("#user_name").val(),
		type: "POST",
		success:function(data){
			$("#user-availability-status").html(data);
			$("#loaderIcon").hide();
		},
		error:function (){}
		});
		}
		function checkEmail() {
		$("#loaderIcon").show();
		jQuery.ajax({
		url: "check_email.php",
		data:'email='+$("#email").val(),
		type: "POST",
		success:function(data){
			$("#email-available").html(data);
			$("#loaderIcon").hide();
		},
		error:function (){}
		});
		}
	</script>
</body>
</html>